@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn</h1>
    <p>Tìm hiểu thêm về cách xây dựng ứng dụng web với <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
